@page
@model HelloWorld.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tester[0].text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tester) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.numba">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.numba">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.numba">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
