@page
@model TimeEntryModel
@{
    ViewData["Title"] = "Time Entry";
}

<h1>@ViewData["Title"]</h1>

<p>Employee ID: @Model.eId</p>
<p>Employee Name: @Model.eName</p>

<form method="post">
    <button type="submit" name="clockIn" value=1>Clock In</button>
    <button type="submit" name="clockOut" value=1>Clock Out</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Total Hours</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tr in Model.timerecord)
        {
            <tr>
                <td>@tr.timeIn</td>
                <td>@tr.timeOut</td>
                <td>@(tr.timeOut - tr.timeIn)</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="TimeHistory">Time History</a>